{% extends 'admin_dashboard/base.html' %}
{% block content %}
{% load static %}
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include 'admin_dashboard/nav.html' %}
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            Customer
                        </h3>
                        <a href="view_customer.html" class="btn btn-outline-info">View Customers</a>
                    </div>

                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add Customer Details</h4>
                                    <form class="form-sample">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Name</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Contact</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Address</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Email</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Password</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Image</label>
                                                    <div class="dropify-wrapper col-sm-9">

                                                        <div class="dropify-loader" style="display: none;"></div>
                                                        <div class="dropify-errors-container">

                                                        </div><input type="file" class="dropify"><button type="button"
                                                            class="dropify-clear">Remove</button>
                                                        <div class="dropify-preview" style="display: none;"><span
                                                                class="dropify-render"></span>
                                                            <div class="dropify-infos">
                                                                <div class="dropify-infos-inner">
                                                                    <p class="dropify-filename"><span
                                                                            class="file-icon"></span>
                                                                        <span
                                                                            class="dropify-filename-inner">Astar..JPG</span>
                                                                    </p>
                                                                    <p class="dropify-infos-message">Drag and drop or
                                                                        click
                                                                        to replace</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="container-fluid w-100">
                                            <a href="#" class="btn btn-success float-right w-25 ml-2">
                                                <i class="fa fa-save mr-1"></i>Save</a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
{% endblock %}