{% extends 'admin_dashboard/base.html' %}
{% block content %}
{% load static %}
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include 'admin_dashboard/nav.html' %}
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            Scheme
                        </h3>
                        <a href="view_scheme.html" class="btn btn-outline-info">View Scheme</a>
                    </div>
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add Scheme Details</h4>
                                    <form class="form-sample">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Name</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Size</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Location</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control form-control-lg" id="">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">File upload</label>
                                                    <div class="col-sm-10">
                                                        <input type="file" name="img[]" class="file-upload-default">
                                                        <div class="input-group col-xs-12">
                                                            <input type="text" class="form-control file-upload-info"
                                                                disabled="" placeholder="Upload Image">
                                                            <span class="input-group-append">
                                                                <button class="file-upload-browse btn btn-outline-info"
                                                                    type="button">Upload</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="card-title">Images</h4>
                                            <div class="col-md-12">
                                                <div id="lightgallery-without-thumb" class="row lightGallery">
                                                    <a href="images/samples/1280x768/9.jpg" class="image-tile"><img
                                                            src="images/samples/300x300/9.jpg" alt="image small"></a>
                                                    <a href="images/samples/1280x768/10.jpg" class="image-tile"><img
                                                            src="images/samples/300x300/10.jpg" alt="image small"></a>
                                                    <a href="images/samples/1280x768/11.jpg" class="image-tile"><img
                                                            src="images/samples/300x300/11.jpg" alt="image small"></a>
                                                    <a href="images/samples/1280x768/12.jpg" class="image-tile"><img
                                                            src="images/samples/300x300/12.jpg" alt="image small"></a>
                                                </div>
                                            </div>
                                            <h4 class="card-title">Videos</h4>
                                            <div class="col-md-12">

                                                <div id="video-gallery" class="row lightGallery">
                                                    <a class="image-tile col-xl-3 col-lg-3 col-md-3 col-md-4 col-6"
                                                        href="https://www.youtube.com/watch?v=meBbDqAXago">
                                                        <img src="images/lightbox/thumb-v-y-1.jpg" alt="image">
                                                        <div class="demo-gallery-poster">
                                                            <img src="images/lightbox/play-button.png" alt="image">
                                                        </div>
                                                    </a>
                                                    <a class="image-tile col-xl-3 col-lg-3 col-md-3 col-md-4 col-6"
                                                        href="https://www.youtube.com/watch?v=Pq9yPrLWMyU">
                                                        <img src="images/lightbox/thumb-v-y-2.jpg" alt="image">
                                                        <div class="demo-gallery-poster">
                                                            <img src="images/lightbox/play-button.png" alt="image">
                                                        </div>
                                                    </a>
                                                    <a class="image-tile col-xl-3 col-lg-3 col-md-3 col-md-4 col-6"
                                                        href="https://vimeo.com/1084537">
                                                        <img src="images/lightbox/thumb-v-v-1.jpg" alt="image">
                                                        <div class="demo-gallery-poster">
                                                            <img src="images/lightbox/play-button.png" alt="image">
                                                        </div>
                                                    </a>
                                                    <a class="image-tile col-xl-3 col-lg-3 col-md-3 col-md-4 col-6"
                                                        href="https://vimeo.com/35451452">
                                                        <img src="images/lightbox/thumb-v-v-2.jpg" alt="image">
                                                        <div class="demo-gallery-poster">
                                                            <img src="images/lightbox/play-button.png" alt="image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                        <hr>
                                        <div class="container-fluid w-100">
                                            <a href="#" class="btn btn-success float-right w-25 ml-2">
                                                <i class="fa fa-save mr-1"></i>Save</a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

{% endblock %}