{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Real Estate</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin/vendors/iconfonts/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.addons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
  <link rel="shortcut icon" href="http://www.urbanui.com/" />
</head>

<body>
<!-- Main Page -->
{% block content%}
{% endblock %}


  <!-- plugins:js -->
  <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'admin/vendors/js/vendor.bundle.addons.js' %}"></script>
  <script src="{% static 'admin/js/off-canvas.js' %}"></script>
  <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'admin/js/misc.js' %}"></script>
  <script src="{% static 'admin/js/settings.js' %}"></script>
  <script src="{% static 'admin/js/todolist.js' %}"></script>
  <script src="{% static 'admin/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>


</html>