{% extends 'admin_dashboard/base.html' %}
{% block content %}
{% load static %}
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include 'admin_dashboard/nav.html' %}
        
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            View Property
                        </h3>
                    </div>


                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    {%endblock%}