{% extends 'admin_dashboard/base.html' %}
{% block content %}
{% load static %}
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include 'admin_dashboard/nav.html' %}
        <!-- partial -->
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            File
                        </h3>
                        <a href="{% url 'add_file' %}" class="btn btn-outline-info">Add File</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Files</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" id="sort" class="btn btn-info">Search</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Code
                                                    </th>
                                                    <th>
                                                        Width
                                                    </th>
                                                    <th>
                                                        Height
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        Set Price
                                                    </th>
                                                    <th>
                                                        Sold Price
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Herman Beck
                                                    </td>
                                                    <td>
                                                        0000 0000000
                                                    </td>
                                                    <td>
                                                        Pakistan
                                                    </td>
                                                    <td>
                                                        Pakistan
                                                    </td>
                                                    <td>
                                                        Pakistan
                                                    </td>
                                                    <td>
                                                        Pakistan
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-outline-success">
                                                            <i class="fas fa-arrow-right"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-danger">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-info">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-info">
                                                            <i class="fas fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {% endblock %}