{% extends 'user_dashboard/base.html' %}
{% block content %}
<!-- Start header section -->
{% load static %}
{% include 'user_dashboard/nav.html' %}

  <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Gallery</h2>
            <ol class="breadcrumb">
              <li><a href="#">HOME</a></li>
              <li class="active">Gallery</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Proerty header  -->

  <section id="aa-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-gallery-area">
            <div class="aa-title">
              <h2>Gallery View</h2>
              <span></span>
              <p>At our real estate and property dealership, we understand the importance of visual representation when
                it comes to
                showcasing properties. That's why we've created a comprehensive gallery view of our listings, to provide
                a virtual tour
                of the properties we have available. Our gallery includes high-quality photos, detailed descriptions,
                and interactive
                floor plans to help you get a clear idea of what each property has to offer.</p>
            </div>
            <!-- Start gallery -->
            <div class="aa-gallery-content">
              <div class="aa-gallery-top">
                <!-- Start gallery menu -->
                <ul>
                  <li data-filter="all" class="filter active">All</li>
                  <li data-filter=".apartment" class="filter">Apartment</li>
                  <li data-filter=".livingroom" class="filter">Living Room</li>
                  <li data-filter=".bedroom" class="filter">Bedroom</li>
                  <li data-filter=".kitchen" class="filter">Kitchen</li>
                  <li data-filter=".garage" class="filter">Garage</li>
                </ul>
              </div>
              <!-- Start gallery image -->
              <div id="mixit-container" class="aa-gallery-body">
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix apartment">
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'user/img/gallery/small/1.png'%}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'user/img/gallery/big/1.png'%}"><span
                          class="fa fa-eye">
                          <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix garage">
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'user/img/gallery/small/2.png'%}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'user/img/gallery/big/2.png'%}"><span
                          class="fa fa-eye"></span></a>
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>

                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix livingroom">
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'user/img/gallery/small/3.png'%}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'user/img/gallery/big/3.png'%}"><span
                          class="fa fa-eye">
                          <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix bedroom">
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'user/img/gallery/small/4.png'%}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'user/img/gallery/big/4.png'%}"><span
                          class="fa fa-eye">
                          <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix apartment">
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'user/img/gallery/small/5.png'%}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'user/img/gallery/big/5.png'%}"><span
                          class="fa fa-eye">
                          <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix livingroom">
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'user/img/gallery/small/6.png'%}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'user/img/gallery/big/6.png'%}"><span
                          class="fa fa-eye">
                          <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <div class="aa-properties-info">
                  <h2>Details</h2>

                  <h4>Propery Features</h4>
                  <ul>
                    <li>4 Bedroom</li>
                    <li>3 Baths</li>
                    <li>Kitchen</li>
                    <li>Air Condition</li>
                    <li>Belcony</li>
                    <li>Gym</li>
                    <li>Garden</li>
                    <li>CCTV</li>
                    <li>Children Play Ground</li>
                    <li>Comunity Center</li>
                    <li>Security System</li>
                  </ul>
                  <h4>Investment Opportunity</h4>
                </div>
                <ul>
                  <li>
                    Whether you're in the market for a new home, a commercial space, or an investment opportunity, our
                    gallery provides you
                    with a convenient and accessible way to view the properties we have available.
                  </li>
                  <li>
                    You can browse
                    through our listings at
                    your own pace, and get a sense of what each property is like before scheduling a viewing.
                  </li>
                  <li>
                    In addition to photos and descriptions, our gallery also includes information on the location,
                    amenities, and
                    surrounding neighborhood, so you can make an informed decision about your next real estate purchase.
                  </li>
                  <li>
                    Visit our gallery today to take a virtual tour of our properties and start exploring the
                    opportunities that our real
                    estate and property dealership has to offer!
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{%endblock%}