{% extends 'user_dashboard/base.html' %}
{% block content %}
{% load static %}
<!-- Start header section -->
<header id="aa-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-header-area">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="aa-header-left">
                <div class="aa-telephone-no">
                  <span class="fa fa-phone"></span>
                  1-900-523-3564
                </div>
                <div class="aa-email hidden-xs">
                  <span class="fa fa-envelope-o"></span> info@gmail.com
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  <a href="register.html" class="aa-register">Register</a>
                  <a href="/admin_dashboard/login.html" class="aa-login">Login</a>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End header section -->

<!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->
        <!-- Text based logo -->
        <a class="navbar-brand aa-logo" href="index.html">LO<span>GO</span></a>
        <!-- Image based logo -->
        <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
          <li class="active"><a href="index.html">HOME</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="properties.html">PROPERTIES <span
                class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="properties.html">PROPERTIES</a></li>
              <li><a href="properties-detail.html">PROPERTIES DETAIL</a></li>
            </ul>
          </li>
          <li><a href="gallery.html">GALLERY</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">BLOG <span
                class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="blog-archive.html">BLOG</a></li>
              <li><a href="blog-single.html">BLOG DETAILS</a></li>
            </ul>
          </li>
          <li><a href="contact.html">CONTACT</a></li>
          <li><a href="{% url 'login' %}">LOGIN</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</section>
<!-- End menu section -->

<!-- Start slider  -->
<section id="aa-slider">
  <div class="aa-slider-area">
    <!-- Top slider -->
    <div class="aa-top-slider">
      <!-- Top slider single slide -->
      <div class="aa-top-slider-single">
        <img src="{% static 'user/img/slider/6.jpg' %}" alt="img">
        <!-- Top slider content -->
        <div class="aa-top-slider-content">
          <span class="aa-top-slider-catg">Duplex</span>
          <h2 class="aa-top-slider-title">1560 Square Feet</h2>
          <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
          <span class="aa-top-slider-off">30% OFF</span>
          <p class="aa-top-slider-price">$460,000</p>
          <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
        </div>
        <!-- / Top slider content -->
      </div>
      <!-- / Top slider single slide -->
      <!-- Top slider single slide -->
      <div class="aa-top-slider-single">
        <img src="{% static 'user/img/slider/2.jpg' %}" alt="img">
        <!-- Top slider content -->
        <div class="aa-top-slider-content">
          <span class="aa-top-slider-catg">Duplex</span>
          <h2 class="aa-top-slider-title">1560 Square Feet</h2>
          <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
          <span class="aa-top-slider-off">30% OFF</span>
          <p class="aa-top-slider-price">$460,000</p>
          <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
        </div>
        <!-- / Top slider content -->
      </div>
      <!-- / Top slider single slide -->
      <!-- Top slider single slide -->
      <div class="aa-top-slider-single">
        <img src="{% static 'user/img/slider/4.jpg' %}" alt="img">
        <!-- Top slider content -->
        <div class="aa-top-slider-content">
          <span class="aa-top-slider-catg">Duplex</span>
          <h2 class="aa-top-slider-title">1560 Square Feet</h2>
          <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
          <span class="aa-top-slider-off">30% OFF</span>
          <p class="aa-top-slider-price">$460,000</p>
          <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
        </div>
        <!-- / Top slider content -->
      </div>
      <!-- / Top slider single slide -->
      <!-- Top slider single slide -->
      <div class="aa-top-slider-single">
        <img src="{% static 'user/img/slider/5.jpg' %}" alt="img">
        <!-- Top slider content -->
        <div class="aa-top-slider-content">
          <span class="aa-top-slider-catg">Duplex</span>
          <h2 class="aa-top-slider-title">1560 Square Feet</h2>
          <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
          <span class="aa-top-slider-off">30% OFF</span>
          <p class="aa-top-slider-price">$460,000</p>
          <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
        </div>
        <!-- / Top slider content -->
      </div>
      <!-- / Top slider single slide -->
    </div>
  </div>
</section>
<!-- End slider  -->

<!-- Advance Search -->
<section id="aa-advance-search">
  <div class="container">
    <div class="aa-advance-search-area">
      <div class="form">
        <div class="aa-advance-search-top">
          <div class="row">
            <div class="col-md-4">
              <div class="aa-single-advance-search">
                <input type="text" placeholder="Type Your Location">
              </div>
            </div>
            <div class="col-md-2">
              <div class="aa-single-advance-search">
                <select>
                  <option value="0" selected>Category</option>
                  <option value="1">Flat</option>
                  <option value="2">Land</option>
                  <option value="3">Plot</option>
                  <option value="4">Commercial</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="aa-single-advance-search">
                <select>
                  <option value="0" selected>Type</option>
                  <option value="1">Flat</option>
                  <option value="2">Land</option>
                  <option value="3">Plot</option>
                  <option value="4">Commercial</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="aa-single-advance-search">
                <select>
                  <option value="0" selected>Type</option>
                  <option value="1">Flat</option>
                  <option value="2">Land</option>
                  <option value="3">Plot</option>
                  <option value="4">Commercial</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="aa-single-advance-search">
                <input class="aa-search-btn" type="submit" value="Search">
              </div>
            </div>
          </div>
        </div>
        <div class="aa-advance-search-bottom">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-single-filter-search">
                <span>AREA (SQ)</span>
                <span>FROM</span>
                <span id="skip-value-lower" class="example-val">30.00</span>
                <span>TO</span>
                <span id="skip-value-upper" class="example-val">100.00</span>
                <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="aa-single-filter-search">
                <span>PRICE ($)</span>
                <span>FROM</span>
                <span id="skip-value-lower2" class="example-val">30.00</span>
                <span>TO</span>
                <span id="skip-value-upper2" class="example-val">100.00</span>
                <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Advance Search -->


<!-- About us -->
<section id="aa-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-about-us-area">
          <div class="row">
            <div class="col-md-5">
              <div class="aa-about-us-left">
                <img src="{% static 'user/img/slider/4.jpg' %}" alt="image">
              </div>
            </div>
            <div class="col-md-7">
              <div class="aa-about-us-right">
                <div class="aa-title">
                  <h2>About Us</h2>
                  <span></span>
                </div>
                <p>Our business is all about real estate and property dealings. We are dedicated to helping clients
                  buy, sell, and rent
                  properties with ease and efficiency. With years of experience in the industry, our team of experts
                  has a thorough
                  understanding of the real estate market and is well-equipped to guide clients through every step of
                  the process. </p>
                <ul>
                  <li>Whether
                    you're a first-time buyer, a seasoned investor, or looking for a rental property, we've got you
                    covered.</li>
                  <li>Our goal is to
                    provide exceptional customer service and to ensure that every client is completely satisfied with
                    their real estate
                    experience.</li>
                  <li>Contact us today to learn more about how we can help you achieve your real estate goals!</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / About us -->


<!-- Service section -->
<section id="aa-service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-service-area">
          <div class="aa-title">
            <h2>Our Service</h2>
            <span></span>
            <p>At our real estate and property dealership, we offer a wide range of services to meet the diverse needs
              of our clients.
              Our services include:</p>
          </div>
          <!-- service content -->
          <div class="aa-service-content">
            <div class="row">
              <div class="col-md-3">
                <div class="aa-single-service">
                  <div class="aa-service-icon">
                    <span class="fa fa-home"></span>
                  </div>
                  <div class="aa-single-service-content">
                    <h4><a href="#">Property Listings</a></h4>
                    <p>We showcase an extensive range of properties that are available for sale or rent. Our listings
                      include homes,
                      apartments, commercial spaces, and more.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="aa-single-service">
                  <div class="aa-service-icon">
                    <span class="fa fa-check"></span>
                  </div>
                  <div class="aa-single-service-content">
                    <h4><a href="#">Property Rent</a></h4>
                    <p>If you're looking for a rental property, our team can help you find the right space to meet
                      your needs. We'll work with
                      you to find a property that fits your budget, location preferences, and other requirements.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="aa-single-service">
                  <div class="aa-service-icon">
                    <span class="fa fa-crosshairs"></span>
                  </div>
                  <div class="aa-single-service-content">
                    <h4><a href="#">Property Development</a></h4>
                    <p>We also offer property management services to help our clients manage their rental properties
                      effectively. Our team will
                      handle everything from finding tenants to maintenance and repair work, allowing you to relax and
                      enjoy the benefits of
                      property ownership.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="aa-single-service">
                  <div class="aa-service-icon">
                    <span class="fa fa-bar-chart-o"></span>
                  </div>
                  <div class="aa-single-service-content">
                    <h4><a href="#">Market Analysis</a></h4>
                    <p>If you're in the market for a new property, our team of experts can assist you in finding the
                      perfect home or investment
                      opportunity. We'll work with you to determine your needs and preferences, and help you find the
                      right property to fit
                      your budget and lifestyle.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Service section -->

<!-- Promo Banner Section -->
<section id="aa-promo-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-promo-banner-area">
          <h3>Find Your Best Property</h3>
          <p>Whether you're looking to sell your home or invest in a new property, we can help you get the best return
            on your
            investment. We'll market your property effectively and negotiate on your behalf to ensure you get the best
            price
            possible.</p>
          <a href="#" class="aa-view-btn">View Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Promo Banner Section -->

<!-- Client brand -->
<section id="aa-client-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-client-brand-area">
          <ul class="aa-client-brand-slider">
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-1.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-2.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-3.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-5.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-4.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-1.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-2.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-3.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-5.png' %}" alt="brand image">
              </div>
            </li>
            <li>
              <div class="aa-client-single-brand">
                <img src="{% static 'user/img/client-brand-4.png' %}" alt="brand image">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- / Client brand -->

{%endblock%}